@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('reset.css');
@import url('grid.css');
*{margin: 0; padding: 0; box-sizing: border-box;}
::after, ::before {
    box-sizing: border-box;
}
:root{
    --color1: #20c997;
    --color1B: #0da778;
    --titleColor: #dadada;
    --textColor: #4c4d4d;
    --font: 'Poppins', sans-serif;
    --bgcolor1: #f8f9fa;
}
html{
    scroll-behavior: smooth;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: var(--font);
    color: var(--textColor);
}
.max-width{
    margin: auto;
    padding: 0 .5rem;
    box-sizing: border-box;
    background-color: lightblue;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.cta-btn{
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    border-width: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    display: inline-block;
    border-radius: 3rem;
    margin-top: 1rem;
}

/* all same styling section */
#main-wraper{
    padding-left: 260px;
    width: 100vw;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}
.main-content{
    width: 100%;
    height: 100%;
}
/* navbar section styling */
header{
    position: sticky;
}
.navbar{
    width: 260px;
    height: 100vh!important;
    background-color: #222;
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}
.navbar a{
    color: #fff;
}
.navbar__wrap{
    width: 100%;
    box-sizing: border-box;
    padding: 2rem .5rem;
    background-color: transparent;
}
.navbar__avatar{

}
.navbar__avatar img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: .6rem solid #333;
    margin: auto;
    display: block;
}
.navbar__logo{
    font-size: 1.3rem;
    padding: .2rem 0 .5rem 0;
}
.navbar__menu{

}
.menu__items a{
    transition: all .3s ease;
    padding: -0.4rem;
    display: block;
}
.menu__items a:hover, .menu__items a.active {
    color: var(--color1);
    
}

.menu__item{

}
.navbar__social{
    margin-top: .7rem;
}
.social__items{
    display: flex;
    justify-content: center;
    list-style: none;
}
.social__item{
    display: inline-block;
    padding: .5rem;
}

/* ==============main content==================== */
/* home section styling */
.home .m-width{
    background-color: lighblue;
}
.home{
    width: 100%;
    height: 100vh;
    background: url("images/intro-bg.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
}
.home__wrap{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    display: flex;
    position: relative;
}
.home__text{
    margin: auto;
    color: #fff;
    text-align: center;
}
.text--welcome{
    font-size: 1.7rem;
}
.text--title{
    font-weight: 700;
    font-size: 4.5rem;
    padding: 1rem 0;
}
.text--more{
    opacity: .8;
}
.btn--hireme{
    color: var(--color1);
    border: .2rem solid var(--color1);
    border-radius: 3rem;
    display: inline-block;
    margin-top: 1.5rem;
}
.btn--hireme:hover{
    color: #fff;
    background-color: var(--color1);
}
.home__animate{
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    transform: translateX(-16px);
    
   
    
}
.home__animate a{
    font-size: 1.2rem;
    color: #fff;
}
.home__animate.active{
    animation: aniUpDown 2s ease;
}
@keyframes aniUpDown {
    to{
        transform: translateX(-16px) translateY(0px);
    }
    from{
        transform: translateX(-16px) translateY(-15px);
    }
}
/* about section styling */
.about{
    background: #fff;
    padding: 2.5rem 0;
}
.about__wrap{

}
.about__title{

}
.title__text{
    text-align: center;
    color: var(--titleColor);
    text-transform: uppercase;
    font-size: 7rem;
    padding: 1rem 0 1rem 0;
    position: relative;
}
.title__text::before{
    position: absolute;
    left: 50%;
    top: 36%;
    font-size: 2.5rem;
    color: #111;
    text-transform: capitalize;
    text-align: center;
    width: 400px;
    transform: translateX(-200px);
    font-weight: 500;
}
.title__text::after{
    content: "";
    width: 6rem;
    height: .2rem;
    background-color: var(--color1);
    position: absolute;
    left: 50%;
    bottom: 4.5rem;
    transform: translateX(-3rem);
}

.about__title--text::before{
    content: "Know Me More";
}
.about__content{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
    padding: 0 2rem;
}
.content__left{width: calc(60% - 3rem);}

.content__left p {
    line-height: 1.5rem;
    opacity: 0.9;
    font-size: 1rem;
    text-align: justify;
    padding-bottom: 1rem;
}
.left__header{
    font-size: 1.6rem;
    padding-bottom: 1.2rem;
}
.left__text{

}
.content__right{
    width: calc(40% - 3rem);
}
.right__content{

}
.right__personalinfo{
    list-style: none;
}

.right__personalinfo li {
    width: 100%;
    border-bottom: 1px solid var(--titleColor);
    padding: .7rem 0;
}
.btn--downloadcv{
    background: var(--color1);
    color: #fff;
    box-shadow: 0 .4rem 0.5rem #dadada;
}
.btn--downloadcv:hover{
    background: var(--color1B);
}
.about__counter{

}
.counter__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
}
.counter__item{
    width: 25%; 
    border-right: 1px solid #d8d8d8;
}

li.counter__item:last-child {
    border-right: none;
}
.counter__item p{

}
.counter__number{
    color: #6c757d;
    font-size: 3rem;
    font-weight: 600;
}
/* service section styling */
.service{
    background: var(--bgcolor1);
}
.service__wrap{

}
.service__title{

}
.service__title--text::before{
    content: 'What I Do?';
}
.service__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service__item{
    display: flex;
    margin-bottom: 3rem;
    width: calc(50%);
    box-sizing: border-box;
}
.service__icon{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 0.6rem #52525242;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color1);
    font-size: 1.5rem;
    margin-right: .9rem;
    width: 138px;
    height: 76px;
}

/* resume section styling */

.resume__title--text::before{
    content: "Resume";
}
.resume__title--text{
    
}
.resume__list{
    display: flex;
    justify-content: space-between;
}
.resume__education, .resume__experience{
    width: calc(50% - 1rem);
}
.item__header{
    font-size: 1.5rem;
    margin-bottom: .2rem;
    font-weight: 600;
}
.item__card{
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--titleColor);
    border-radius: .2rem;
    margin-bottom: 1rem;
}

.item__card p {
    padding: 1.2rem 0;
}
.card__year{
    display: inline-block;
    background-color: var(--color1);
    padding: .2rem .3rem;
    color: #fff;
    border-radius: .2rem;
    font-size: .8rem;
}
.card__title{
    padding: .8rem 0 .3rem 0;
    font-size: 1.3rem;
    font-weight: 500;
}
.card__place{
    color: #bd0505;
}

.item__header--skill{
    margin: 1rem 0;
    color: #111;
}
.skill__lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill__item{
    width: calc(50% - 1rem);
    margin-bottom: 1.5rem;
}
.skill__iteminfo{
    display: flex;
    justify-content: space-between;
}
.iteminfo__title{
    font-weight: 600;
}

.skill__itemline{
    width: 100%;
    height: .5rem;
    background: var(--titleColor);
    border-radius: .2rem;
    margin: .7rem 0;
    position: relative;
}
.skill__itemline::before{
    content: "";
    height:100%;
    background-color: var(--color1);
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
}


.item-line--webdesign::before{
    width: 65%;
}
.item-line--reactjs::before{
    width: 70%;
}
.item-line--htmlcss::before{
    width: 95%;
}
.item-line--angularjs::before{
    width: 60%;
}
.item-line--bootstrap::before{
    width: 99%;
}
.item-line--javascript::before{
    width: 80%;
}
.skill__itemline.active::before{
    animation: appear 3s ease;
}
@keyframes appear {
    from{
        width: 0;
    }
}
.button__download{
    width: 100%;
    text-align: center;
}
.btn--downloadcv--resume{
    color: var(--textColor);
    border: .2rem solid var(--textColor);
    background-color: transparent;
    margin: 0 0 3rem 0;
}
.btn--downloadcv--resume:hover{
    background-color: var(--textColor);
    color: #fff;
}
/* portfolio section styling */
.portfolio{
    background-color: var(--bgcolor1);
}
.portfolio__wrap{

}
.portfolio__title--text::before{
    content: "My Work";
}
.portfolio__list{

}
.list__items{
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
}

ul.list__items li {
    display: inline;
}
.list__item.active{
    color: var(--color1);
    border-bottom: .2rem solid var(--color1);
}
.list__item{
    transition: all .3s ease;
    display: inline-block;
    padding: .5rem 1.5rem;
    color: var(--textColor);
}
.list__item:hover{
    color: var(--color1);
}

.portfolio__popup{

}
.portfolio__filter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.one__item{
    width: 31%;
    box-sizing: border-box;
    padding: 1rem;
}
.item__box{
    margin: 1rem 0!important;
    
}
.artwork__img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    position: relative;
    display: block;
    overflow: hidden;
}
.artwork__img img{
    width: 100%;
    object-fit: cover;
}
.artwork__overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.artwork__overlay a{
    color: #fff;
}



/* ==============main content end=================== */

/* ==================Responsive======================= */
/* ==================Responsive end=================== */






@media (min-width: 1200px){
    .container {
        max-width: 1170px !important;
    }
}
@media (min-width: 992px){
    .pl-lg-5, .px-lg-5 {
        padding-left: 3rem!important;
    }
}
@media (min-width: 992px){
    .pr-lg-5, .px-lg-5 {
        padding-right: 3rem!important;
    }
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
    
}
@media (min-width: 576px){
    .container, .container-sm {
        max-width: 540px;
        margin-bottom: 1rem 1rem 0 0;
    }
    
}


